body{
    background-color: blue;
}

.box{
    height: 50px;
    border: 1px solid black;
}

.box.yellow{
    background-color: #ffc13c;
}

.box.orange{
    background-color: #ff7d3e;
}

.box.black{
    background-color: black;
}

.box.white{
    background-color: white;
}